body {
    background-color: rgb(215, 215, 215);
    margin: 60px;
    margin-top: -40px;
    text-align: center; 
}

.main {
    border: 2px solid black;
    position: relative;
    top: 185px;
    height: 668px;
    background-color: rgb(132, 185, 145);
}

canvas {
    border: solid 10px rgb(0, 0, 0);
    background-color: aquamarine;
    z-index: 1;
}

#lose_game {
    display: none;
}

a {
    text-decoration: none;
    color:#3a8a9e;
}

.losed {
    font-size: 80px;
    color: red;
    text-align: center;
}

#infor {
    background-color: bisque;
    width: 250px;
    position: relative;
    left: 23cm;
    font-family: Arial, Helvetica, sans-serif;
}

.login, .regi {
    box-shadow: -3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}

.login:hover, .regi:hover {
    background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}